
body{
background-color: black;
background-image:url(http://static.tumblr.com/dcslupi/WFzmqcrf7/background.jpg);
font-family:Arial;
font-size: 18pt;
color: red;
text-align: center;
} 

#cabeçalho div{
font-family:Arial;
font-size: 18pt;
color: red;

}


#loginuser {
font-family:Arial;
font-size: 14pt;
color: red;
text-align: center;
left : 50%;
top : 50%;
width:700px;
height:700px;
margin-left:400px;
margin-top:350px;
text-align:center;
}

#titulo ul{
font-family:Arial;
font-size: 50pt;
color: red;
text-align: center;
left : 100px;
top : 200px;

} 

a{
text-decoration: none;
postion:fixed; 
}
body > ul{
font-family: 'Dosis', sans-serif;
font-size: 18px;
postion:fixed; 
}
 
body > ul > li{
float: left;
position: relative;
margin-left: 5px;
postion:fixed; 
}
 
body > ul > li:first-child{
margin-left: 0;
postion:fixed; 
}
 
body > ul > li > a{
color: #ffffff;
padding: 5px 10px;
background: #999999;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
postion:fixed; 
}
 
body > ul > li > ul{
visibility: hidden;
position: absolute;
left: 0;
top: 23px;
padding: 4px 7px;
postion:fixed; 
}
 
body > ul > li:hover > ul{
visibility: visible;
text-align: left;
background: #999999;
-webkit-border-radius: 0 0 5px 5px;
-moz-border-radius: 0 0 5px 5px;
border-radius: 0 0 5px 5px;
postion:fixed; 
}
 
body > ul > li > ul > li{
display: block;
font-size: 12px;
margin-bottom: 5px;
postion:fixed; 
}
body > ul > li > ul{
-webkit-transition: all 0.7s ease;
-moz-transition: all 0.7s ease;
-o-transition: all 0.7s ease;
-moz-opacity: 0.00;
opacity: 0.00;
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha"(Opacity=0);
postion:fixed; 
}
 
body > ul > li:hover > ul{
-moz-opacity: 1;
opacity: 1;
-ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=100);
postion:fixed; 

}

h1{
text-align: center;
postion:fixed; 
}